@function font-weight($keyword) {
  	$conversion-map: (
    	  hairline: 100,
    	  light: 300,
    	  extra bold: 800,
    	  size-50: 50,
    	  size-30: 30,
    	  size-14: 14,
    	  bold: bold,
    	);
  	@if not map-has-key($conversion-map, $keyword) {
  		  @error "Unsupported `font-weight` keyword `#{$keyword}`";
            @return null;
  	}
        @return map-get($conversion-map, $keyword);
}
@mixin font-weight($keyword) {
    font-weight: font-weight($keyword);
}
@mixin font-size($keyword) {
    font-size: font-weight($keyword);
}
@mixin font-bold($keyword) {
    font-weight: font-weight($keyword);
}
@mixin height-width($height, $width) {
    height: $height;
    width: $width;
}
@mixin width-margin($width, $margin) {
    width: $width;
    margin: $margin;
}
@mixin position-relative($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin pad ($pads) {
    padding: $pads;
}
@mixin grid-margin-display($margin, $display) {
    margin: $margin;
    display: $display;
}
