.right-top-four {
    height: 600px;
}
.professional-skill {
    width: 49%;
    border: 1px solid black;
    div {&:nth-of-type(odd){
        margin: 20px 0 0 20px;
        // border: 1px solid black;
    }
    &:nth-of-type(even){
      div {
        width: 10%;
        height: 3px;
        background-color: rgba(255,255,255,0.6);
        // box-shadow: 5px 5px 45px black;
        position: relative;
        bottom: 38px;
        left: 165px;
      }
    }
  }
}
.professional-skill-base {
    border: 1px solid black;
    width: 80%;
}
@mixin before-line($content, $color) {
    &::before {
        content: $content;
        height: 20px;
        width: 70px;
        z-index: 30;
        position: relative;
        bottom: 20px;
        left: 150px;
        font-size: 12px;
        color: $color;
    }
}
@mixin line($bg-color) {
  height: 3px;
  width: 60%;
  background-color: $bg-color;//rgba(255,0,0,0.6);
  bottom: 8px;
  position: relative;
}
.line-1 {
    @include line(rgba(255,0,0,0.6));
    @include before-line("90%", rgba(255,0,0,0.6));
}
.line-2 {
    @include line(rgba(0,255,0,0.6));
    @include before-line("90%", rgba(0,255,0,0.6));
}
.line-3 {
    @include line(rgba(255,0,255,0.6));
    @include before-line("90%", rgba(255,0,255,0.6));
}
.line-4 {
    @include line(rgba(0,255,255,0.6));
    @include before-line("90%", rgba(0,255,255,0.6));
}
.line-5 {
    @include line(rgba(0,255,0,0.6));
    @include before-line("90%", rgba(0,255,0,0.6));
}
.line-6 {
    @include line(rgba(255,0,255,0.6));
    @include before-line("90%", rgba(255,0,255,0.6));
}
