@import "variables";
@function font-weight($keyword) {
  	$conversion-map: (
    	  thin: 100,
    	  hairline: 100,
    	  extralight: 200,
    	  light: 300,
    	  extra bold: 800,
    	  size-50: 50,
    	  size-20: 20,
    	  size-30: 30,
    	  size-14: 14,
    	  bold: bold,
    	);
  	@if not map-has-key($conversion-map, $keyword) {
  		  @error "Unsupported `font-weight` keyword `#{$keyword}`";
            @return null;
  	}
        @return map-get($conversion-map, $keyword);
}
@mixin font-weight($keyword) {
    font-weight: font-weight($keyword);
}
@mixin font-size($keyword) {
    font-size: font-weight($keyword);
}
@mixin font-bold($keyword) {
    font-weight: font-weight($keyword);
}
@mixin height-width($height, $width) {
    height: $height;
    width: $width;
}
.box-shadow {
    box-shadow: 5px 5px 45px lightgray;;
}
.bold {
    @include font-bold(bold);
}
$margin : percentage(1.5/$default-width);
.default-text-color {
    color : $default-color;
}
.color-text-gray {
    color : $color-gray;
}
.color-dark-gray {
    color : $color-dark-gray;
}
.color-text-white {
    color: $color-white;
}
.bg-color-default {
    background-color : $default-color;
}
.bg-color-gray {
    background-color : $color-lightgray;
}
.left {
    float: left;
}
.text-center {
    text-align: center;
}
.font-28 {
    font-size: 28px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.circle {
    border-radius: 50%;
}

@mixin width-margin($width, $margin) {
    width: $width;
    margin: $margin;
}
.overall {
    background-color: #F8F8F8;
    width: percentage(100/$default-width);
    .left-div {
        // @include width-margin(25/$default-width);
        width: percentage(25/$default-width);
        margin: $margin $margin 0 $margin;
    }
    .right-div {
        width: ($default-width)-($margin * 3)-(percentage(25/$default-width));
        min-height:  ($default-width)- ($margin*2*2);
        margin: $margin 0 0 0;
        .right-top-one {
            @include height-width(percentage((15/$default-width))- ($margin*2*2), percentage(100/$default-width));
        }
        .right-top-two {
            @include height-width(percentage((70/$default-width))- ($margin*2*2), percentage(100/$default-width));
            margin: $margin+1 0 0 0;
        }
     }
    .left-div-one {
        img {
            height: percentage(25/100);
            padding: 50px 70px 0px 70px;
        }
    }
    .left-div-two {
        margin-top: percentage(8/100);
    }
    .left-div-three {
        padding-bottom: percentage(10/100);
    }
    .left-div-inner-one {
        margin: 10% 0% 10% 16%;
    }
    .left-div-inner-one div{
        @include height-width(22px, 22px);
        margin: 2%;
        display: inline-block;
    }
    .left-div-inner-two {
        width: 100%;
    }
    .left-div-inner-two > div{
        padding: 15px 25px 0px 25px;
    }
    .left-div-inner-two:last-child{
        padding-bottom: 30px;
    }
    .btn {
        padding: 15px;
        width: 40%;
        margin: 75px 0px 50px 80px;
        color: #FFFFFF;
        @include font-size('size-14');
    }
}
li {
    list-style: none;
}
.right-top-one li {
    @extend .left;
    padding: 10px 0px 20px 40px;
}
.right-top-one li:last-child {
    padding: 20px 0px 20px 20px;
}
@mixin position-relative($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
.nav-hover {
    display: block;
    height: 30px;
    padding: 30px 20px 20px 20px;
    @include position-relative(relative, auto, auto, 32px, auto);
}
.right-top-one ul {
    margin-left: 10px;
}
.serch-icon {
    @include height-width(12px, 12px);
    border: 1px solid $color-gray;
    display: inline-block;
}
.nav-icon {
    @include height-width(2px, 12px);
    background-color: $color-gray;
    display: block;
    margin-top: 3px;
    @include position-relative(relative, auto, auto, 12px, auto);
}
.right-top-two-left,.right-top-two-right {
    @include height-width(80%, 49.5%);
    @extend .left;
    padding-top: 10%;
}
.eight-zero-zero {
    @include font-weight(extra bold);
    @include font-size('size-50');
}
.li-two {
    @include font-weight(hairline);
    @include font-size('size-30');
}
.eight-zero-zero, .li-three, .li-two {
    margin: 10px 0px 0px 40px;
}
.right-top-three-one {
    margin: 40px;
    padding: 10px 0 100px 0;
}
.right-top-two-right img {
    @include height-width(225px, 225px);
    margin-left: 20px;
}
.red-icon {
    @include height-width(50px, 50px);
    background-color: rgba(255,0,0,0.7);
    @include position-relative(relative, 20px, auto, auto, 65px);
}
.right-top-two-left .btn {
    margin: 25px 0px 50px 80px;
    width: 120px;
}
.right-top-three {
    margin: 2% 0 0 0;
}
.right-top-three-one li:nth-child(2) {
    padding: 15px 0 0 0;
}
.right-top-three-one li:first-child {
    @include font-size('size-30');
}
.right-top-three-one > div {
    margin-top: 5%;
}
.grid-table {
    padding: 0 40px 40px 40px;
}
.grid {
    height: 40%;
}
@mixin pad ($pads) {
  padding: $pads;
}
.grid-right {
    @include height-width(40%, 50%);
    display: table;
    @include pad(35px 0 14px 14px);
}
.grid-right-row {
    display: table-row;
}
.grid-right-cell {
    display: table-cell;
    color: $color-gray;
    @extend .font-12;
}
.grid-1, .grid-2, .grid-3, .grid-4 {
    @include height-width(49%, 35%);
    @include pad(0 0 0 25px);
}
.grid-1, .grid-3 {
    margin: 0 8% 0 0;
}
.grid-1 {
    border-bottom: 1.5px solid $default-color;
}
.grid-2 {
    border-bottom: 1.5px solid #cc0000;
}
.grid-3 {
    border-bottom: 1.5px solid #ffbd33;
}
.grid-4 {
    border-bottom: 1.5px solid  #c133ff;
}
.inline-block {
    display: inline-block;
}
.grid-1 span:nth-child(1), .grid-1 span:nth-child(2), .grid-3 span:nth-child(1), .grid-4 span:nth-child(1) {
    @include height-width(20px, 30px);
    margin-top: 30px;
    background-color: $default-color;
    padding-top: 5px;
}
.grid-1 span:nth-child(2) {
    float: right;
}
.grid-1 span:nth-child(3), .grid-2 span:nth-child(2) {
    margin-top: 35px;
    display: block;
    float: clear;
}
.grid-2 span:nth-child(1) {
    @include height-width(30px, 30px);
    @include pad(0 0 0 0);
    margin-top: 27px;
    background: repeating-linear-gradient(-55deg,#cc0000,#cc0000 1px,#FFFFFF 5px,#333 2px)
}
.grid-3 span:nth-child(1), .grid-4 span:nth-child(1) {
    margin-top: 45px;
    background-color: #ffbd33;
}
.grid-3 span:nth-child(2), .grid-4 span:nth-child(2) {
    margin-top: 25px;
    display: block;
}
.grid-4 span:nth-child(1) {
    background-color: #c133ff;
}
.grid-right-row div:nth-child(3) {
    padding-left: 40px;
    font-style: italic;
}
.grid-right-row div:nth-child(2) {
    padding-left: 20px;
}
.grid-right-footer li:nth-child(3) {
    @include height-width(35px, 150px);
    border: 3px solid $color-white;
    margin: 20px 0px 15px 0;
    background-color: $color-white;
}
.width-100 {
    width: 100%;
}
.grid-right-footer li:nth-child(1) {
    @include height-width(35px, 35px);
    border: 3px solid white;
    margin: 20px 0px 15px 0;
}
